{% extends 'base.html.twig' %}

{% block title %}Nom du jeu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/game_profile.css') }} ">
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <section>
                <h1>{{ game.name }}</h1>
                <div class="d-flex">
                    <div class="col-md-4">
                        <img class="game-main-image" src="{{ game.photo }}" alt=""/>
                    </div>
                    <div class="flex-col">
                        <h2>Synopsis/histoire</h2>

                        <div class="">
                            <p>
                                {{ game.synopsis }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex note-flex">
                            <h3>Notes</h3>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('game_set_note', {'id': game.id}) }}"><i
                                            class="fas fa-plus plus-color"></i></a>
                            {% endif %}
                        </div>
                        <div class="note-wrapper">
                            {% for i in range(0,4) %}
                                <div class="note-dice" data-value="{{ i + 1 }}">
                                    {% if i < game.note %}
                                        <i class="fas fa-dice-d20"></i>
                                    {% else %}
                                        <i class="fas fa-dice-d20 white"></i>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </section>

            <section class="">

                <a
                        class="btn btn-info"
                        data-toggle="collapse"
                        href="#descriptionCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                >
                    Description
                </a>
                <div class="collapse" id="descriptionCollapse">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>

                <a
                        class="btn btn-info"
                        data-toggle="collapse"
                        href="#infosCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                >
                    Fiche Technique
                </a>
                <div class="collapse" id="infosCollapse">
                    <div class="card card-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>Catégorie(s)</td>

                                <td>
                                    {% for category in categories %}
                                        {{ category.name }}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Genre(s)</td>
                                <td>{{ game.types }}</td>
                            </tr>
                            <tr>
                                <td>Durée</td>
                                <td>{{ game.duration }}</td>
                            </tr>
                            <tr>
                                <td>Editeur(s)</td>
                                <td>{{ game.editor.name }}</td>
                            </tr>
                            <tr>
                                <td>Age Minimum</td>
                                <td>{{ game.ageMin }}</td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td>{{ game.isbn }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de joueur Minimum</td>
                                <td>{{ game.playerNumberMin }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de joueur Maximum</td>
                                <td>{{ game.playerNumberMax }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </section>

            <section class="avis">
                <div class="border-gradient border-gradient-purple">
                    <div class="d-flex note-flex">
                        <h2>Avis</h2>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('game_add_comment', {'id': game.id}) }}"><i
                                        class="fas fa-plus plus-color"></i></a>
                        {% endif %}
                    </div>


                    {% for comment in game.comment %}
                        <div class="col-md-3">
                            <img src="{{ asset('img/91.jpg') }}">
                            <h4>{{ comment.user.pseudo }}</h4>
                            <p>{{ comment.createdAt | date('d m Y') }}</p>
                        </div>
                        <div class="col-md-9">

                            <p>
                                {{ comment.content }}

                            </p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section class="game-user">
                <h2>Ceux qui le possède</h2>
                <div class="border-gradient border-gradient-purple">
                    <div class="profiles">
                        <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/3.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/8.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/19.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/21.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/54.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/80.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/86.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/91.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/3.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <i
                                class="carousel-icon-right carousel-icon fa fa-chevron-right"
                        ></i>
                    </div>
                </div>
            </section>
        </div>

    </main>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/game_profile.js') }}"></script>
{% endblock %}