{% extends 'base.html.twig' %}

{% block title %}Nom du jeu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/game_profile.css') }} ">
{% endblock %}

{% block body %}
    <main class="container">
        {% for game in games %}
        <section>
            <h1>{{ game.name }}</h1>
            <div class="d-flex">
                <div class="col-md-4">
                    <img class="game-main-image" src="{{ game.photo }}" alt="" />
                </div>
                <div class="flex-col">
                    <h2>Synopsis/histoire</h2>

                    <div class="">
                        <p>
                            {{game.synopsis}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Notes</h3>
                    {% for i in range(0,4) %}
                        {% if i < game.note %}
                            <div class="note-dice">
                                <i class="fas fa-dice-d20"></i>
                            </div>
                        {% else %}
                            <i class="fas fa-dice-d20 white"></i>
                        {% endif %}
                    {% endfor %}


                    </div>
                </div>
            </div>
        </section>

        <section class="avis">
            <div class="border-gradient border-gradient-purple">
                <h2>Avis</h2>
                {% for comments in game.comment %}
                <p>
                </p>
                {% endfor %}
            </div>
        </section>
        <section class="game-user">
            <h2>Ceux qui le possède</h2>
            <div class="border-gradient border-gradient-purple">
                <div class="profiles">
                    <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
                    {% for users in user  %}{% endfor %}
                    <a class="profile" href="#">
                        <img src="{{ user.photo }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/8.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/19.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/21.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/54.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/80.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/86.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/91.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <a class="profile" href="#">
                        <img src="{{ asset('img/3.jpg') }}" alt="" class="rounded-circle" />
                    </a>
                    <i
                            class="carousel-icon-right carousel-icon fa fa-chevron-right"
                    ></i>
                </div>
            </div>
        </section>
        {% endfor %}
    </main>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/game_profile.js') }}"></script>
{% endblock %}