{% extends 'base.html.twig' %}

{% block title %}Nom du jeu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/game_profile.css') }} ">
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <section>
                <h2>{{ game.name }}</h2>
                <div class="d-flex">
                    <div class="col-md-4">
                        <img class="game-main-image" src="{{ game.photo }}" alt=""/>
                    </div>
                    <div class="flex-col">
                        <h2>Synopsis</h2>

                        <div class="">
                            <p>
                                {{ game.synopsis }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex note-flex">
                            <h3>Notes</h3>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('game_set_note', {'id': game.id}) }}"><i
                                            class="fas fa-plus plus-color"></i></a>
                            {% endif %}
                        </div>
                        <div class="note-wrapper">
                            {% for i in range(0,4) %}
                                <div class="note-dice" data-value="{{ i + 1 }}">
                                    {% if i < game.note %}
                                        <i class="fas fa-dice-d20"></i>
                                    {% else %}
                                        <i class="fas fa-dice-d20 white"></i>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </section>

            <section class="">
                <div class="tabs btn-group">
                    <a class="tab btn tab-active" href="#description-content">
                        Description
                    </a>
                    <a class="tab btn" href="#infos-content">
                        Fiche Technique
                    </a>
                </div>
                <div id="description-content" class="tab-content tab-content-active">
                    <div class="card card-body">
                        {{ game.description }}
                    </div>
                </div>
                <div id="infos-content" class="tab-content">
                    <div class="card card-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>Catégorie(s)</td>

                                <td>
                                    {% for category in categories %}
                                        {{ category.name }}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Genre(s)</td>
                                <td>{{ game.types }}</td>
                            </tr>
                            <tr>
                                <td>Durée</td>
                                <td>{{ game.duration }}</td>
                            </tr>
                            <tr>
                                <td>Editeur(s)</td>
                                <td>{{ game.editor.name }}</td>
                            </tr>
                            <tr>
                                <td>Age Minimum</td>
                                <td>{{ game.ageMin }}</td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td>{{ game.isbn }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de joueur Minimum</td>
                                <td>{{ game.playerNumberMin }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de joueur Maximum</td>
                                <td>{{ game.playerNumberMax }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </section>

            <section class="avis">
                <div class="d-flex note-flex">
                    <h2>Commentaires</h2>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('game_add_comment', {'id': game.id}) }}"><i
                                    class="fas fa-plus plus-color"></i></a>
                    {% endif %}
                </div>
                <div class="border-gradient border-gradient-purple">
                    <div class="comment-list">
                        {% for comment in game.comment %}
                            <div class="row comment">
                                <div class="col-md-3 comment-author-zone">
                                    {% if comment.user.photo %}
                                        <img alt="Avatar" class="comment-avatar rounded-circle"
                                             src="{{ comment.user.photo }}"/>
                                    {% else %}
                                        <img alt="Avatar" class="comment-avatar rounded-circle"
                                             src="{{ asset('img/icon.png') }}"/>
                                    {% endif %}
                                    <h4 class="comment-author-name">{{ comment.user.pseudo }}</h4>
                                    <p class="comment-create-at">{{ comment.createdAt | date('d/m/Y à H:m') }}</p>
                                </div>
                                <div class="col-md-9">
                                    <p class="comment-content">
                                        {{ comment.content }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section class="game-user">
                <h2>Ceux qui le possède</h2>
                <div class="border-gradient border-gradient-purple">
                    <div class="profiles">
                        <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/3.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/8.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/19.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/21.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/54.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/80.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/86.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/91.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <a class="profile" href="#">
                            <img src="{{ asset('img/3.jpg') }}" alt="" class="rounded-circle"/>
                        </a>
                        <i
                                class="carousel-icon-right carousel-icon fa fa-chevron-right"
                        ></i>
                    </div>
                </div>
            </section>
        </div>

    </main>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/game_profile.js') }}"></script>
{% endblock %}