{% extends 'base.html.twig' %}

{% block title %}Ludothèque{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/la-ludotheque.css') }} ">
{% endblock %}

{% block body %}
<div class="container pb-3">
    <h2>Ludothèque</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('new_game') }}" class="btn btn-primary">
            Ajouter un jeu</a>
    {% endif %}
    <section>
        <button class="form-open bouton boutonPote">Filtres</button>
        <div id="form-toggle" class="formulaire">
            {{ form_start(ludo_form) }}
            {{ form_widget(ludo_form) }}
            <input type="submit" class="btn btn-lg btn-block mb-5" value="Cherchons ça !">
            {{ form_end(ludo_form) }}
        </div>

    </section>

    <section class="pt-4 row">
        {% for game in games %}
            <div class="col-md-6">
                <div class="card game-card mb-3">
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="{{ game.photo }}" class="card-img" alt="..."/>
                            </div>
                            <div class="col-8 game-card-content">
                                <h5 class="card-title">{{ game.name }}</h5>
                                <p class="card-text card-text-main">
                                    {% if game.synopsis|length > 500 %}
                                        {{ game.synopsis|slice(0, 500) }}&nbsp;...
                                    {% else %}
                                        {{ game.synopsis }}
                                    {% endif %}

                                </p>
                                <a class="btn" href="{{ path('game_profile_id', {'id': game.id}) }}">Voir la
                                    fiche du jeu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/toggle.js') }}"></script>
        {% endblock %}

