{% extends 'base.html.twig' %}

{% block title %}Ludothèque{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href=" {{ asset('css/la-ludotheque.css') }} ">
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Nos jeux</h1>
    <section>
      <button onclick="toggle()" class="form-open">Filtres</button>
      <div id="form-toggle">
        {{ form_start(ludo_form) }}
        {{ form_widget(ludo_form) }}
        {{ form_end(ludo_form) }}
      </div>

    </section>

    <section>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ asset('img/mysterium.jpg') }}" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <button>Voir la fiche du jeu</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ asset('img/mysterium.jpg') }}" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <button>Voir la fiche du jeu</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ asset('img/mysterium.jpg') }}" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <button>Voir la fiche du jeu</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/la-ludotheque.js') }}"></script>
{% endblock %}

