{% extends 'base.html.twig' %}

{% block title %}Ludothèque{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/la-ludotheque.css') }} ">
{% endblock %}

{% block body %}
<div class="container pb-3">
    <h1>Nos jeux</h1>
    <section>
        <button class="form-open">Filtres</button>
        <div id="form-toggle">
            {{ form_start(ludo_form) }}
            {{ form_widget(ludo_form) }}
            <input type="submit" value="Enregistrer">
            {{ form_end(ludo_form) }}
        </div>

    </section>

    <section class="pt">
        {% for game in games %}
            <div class="col-md-6">
                <div class="card game-card mb-3">
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="{{ asset('img/mysterium.jpg') }}" class="card-img" alt="..."/>
                            </div>
                            <div class="col-8 game-card-content">
                                <h5 class="card-title">{{ game.name }}</h5>
                                <p class="card-text card-text-main">
                                    {{ game.synopsis }}
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                                <button>Voir la fiche du jeu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/clamp-js/0.7.0/clamp.js" integrity="sha512-TnePtmz3HL4p8nFS2lR46u0iHrwObVnUednDASZK/qS9btkd09xKs1PeCt1kpS4a0gWNQx1AF+WnDHDK+xWcAw==" crossorigin="anonymous"></script>
            <script src="{{ asset('js/toggle.js') }}"></script>
            <script>
                for(const element of document.querySelectorAll(".card-text-main")) {
                    $clamp(element, {clamp: 'auto', useNativeClamp: true});
                }
            </script>
        {% endblock %}

