{% extends 'base.html.twig' %}

{% block title %}Ma ludothèque{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href=" {{ asset('css/mes-hexapotes.css') }} ">
{% endblock %}
{% block body %}
  <div class="container">
    <!-- entête (titre, rechercher) -->
    <header class="row">
      <div class="col-md-6">
        <h1>Mes hexapotes</h1>
      </div>
      <div class="col-md-6">
        <label for="site-search">Search:</label>
        <input
                type="search"
                id="site-search"
                name="q"
                aria-label="Search through site content"
        />

        <button>Search</button>
      </div>
    </header>

    <!--Filtres, et carte des hexapotes-->
    <section>
      <button onclick="toggle()" class="form-open">Filtres</button>
      <div id="form-toggle">
        {{ form_start(my_hexapotes_form) }}
        {{ form_widget(my_hexapotes_form) }}
        {{ form_end(my_hexapotes_form) }}
      </div>

    </section>

    <section>
      <div class="d-flex wrapper">
        <div class="card col-md-4" style="width: 18rem">
          <img src="{{ asset('img/19.jpg') }}" class=" rounded card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Pseudo</h5>
            <a href="#" class="btn btn-primary">Voir profil</a>
            <a href="#" class="btn btn-primary">Envoyer un message</a>
          </div>
        </div>

        <div class="card col-md-4" style="width: 18rem">
          <img src="{{ asset('img/21.jpg') }}" class="rounded card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Pseudo</h5>
            <a href="#" class="btn btn-primary">Voir profil</a>
            <a href="#" class="btn btn-primary">Envoyer un message</a>
          </div>
        </div>

        <div class="card col-md-4" style="width: 18rem">
          <img src="{{ asset('img/3.jpg') }}" class="rounded card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Pseudo</h5>
            <a href="#" class="btn btn-primary">Voir profil</a>
            <a href="#" class="btn btn-primary">Envoyer un message</a>
          </div>
        </div>

        <div class="card col-md-4" style="width: 18rem">
          <img src="{{ asset('img/54.jpg') }}" class="rounded card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Pseudo</h5>
            <a href="#" class="btn btn-primary">Voir profil</a>
            <a href="#" class="btn btn-primary">Envoyer un message</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('js/mes-hexapotes.js') }}"></script>
{% endblock %}

