{% extends 'base.html.twig' %}
{% block  stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/settings.css') }} ">
{% endblock %}
{% block title %}{{ parent() }} - Paramètres du profil{% endblock %}

{% block body %}
    <h2>Mes paramètres</h2>
    <div class="formulaire">
    {{ form_start(form_settings) }}
    {{ form_widget(form_settings) }}
    <input type="submit" value="Enregistrer">
    {{ form_end(form_settings) }}
    </div>
{% endblock %}
