{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/user-profile.css') }} ">
{% endblock %}

{% block body %}

    <section>
        <h1>{{ user.pseudo }}</h1>
        <h2>
            <span>Ma ludothèque</span>
            <a href="{{ path('user_select_games') }}">
                <i class="fa fas fa-plus"></i>
            </a>
        </h2>
        <div class="my-games profiles">
            <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
            {% for game in user.myGames %}
                <a class="game profile" href="{{ path('game_profile_id', {'id': game.id}) }}">
                    <img src="{{ game.photo }}" alt="" class="rounded-circle"/>
                    <span>{{ game.name }}</span>
                </a>
            {% endfor %}
            <i class="carousel-icon-right carousel-icon fa fa-chevron-right"></i>
        </div>

    </section>

    <section>
        <h2>Mes hexapotes</h2>
        <div class="profiles">
            <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
            <a class="profile" href="#">
                {% for hexapote in user.myHexapotes %}
                    <img src="{{ hexapote }}" alt="" class="rounded-circle"/>
                {% endfor %}
            </a>
            <i
                    class="carousel-icon-right carousel-icon fa fa-chevron-right"
            ></i>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
