{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/bootstrap.min.css') }} ">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/profil.css') }} ">
{% endblock %}

{% block body %}
    <div id="main">

        <div class="w3-teal container">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                <h1>Mon profil</h1>
        </div>

        <div class="w3-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore esse explicabo incidunt,
                ipsum
                laboriosam non,
                nulla numquam odit perferendis provident quibusdam rem repellat sit unde vitae voluptate voluptates
                voluptatum.
                Aspernatur deserunt ducimus in laboriosam laudantium libero maxime nemo tenetur veniam voluptatibus.
                Consequuntur dolor est expedita facere illum iusto maiores minus possimus, quae quia quis quod
                rerum,
                sapiente similique veritatis.
                Accusamus accusantium dignissimos doloribus enim facilis laboriosam libero reiciendis voluptates?
                Ab adipisci animi at consectetur, dolorem facere ipsa iusto natus placeat possimus quis quisquam
                quos unde,
                vel voluptates? Aperiam, facere.
                xcepturi exercitationem illum qui? Id ipsa libero minus necessitatibus, recusandae sunt!</p>
        </div>
    </div>



    <script src="{{ asset('js/jquery-3.5.1.slim.min.js ') }}"></script>
    <script src="{{ asset('js/popper.min.js ') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js ') }}"></script>
{% endblock %}